{% extends "base.html" %}




{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
    <img src='{{ instance.image.url }}' with="2000" height="400" class='img-responsive' />
<link rel='stylesheet' href='/static/css/base.css' />
<h1> Person {{ instance.id_of_people }} </h1>



{{ instance.title }}<br/>
{{ instance.content }}<br/>
{{ instance.timestamp }}<br/>
{{ instance.print1 }}<br/>
{{ instance.print2 }}<br/>
{{ instance.print3 }}<br/>
{{ instance.print4 }}<br/>
{{ instance.print5 }}<br/>

{{ instance.history_display1 }}<br/>
{{ instance.history_display2 }}<br/>
{{ instance.history_display3 }}<br/>
{{ instance.history_display4 }}<br/>
{{ instance.history_display5 }}<br/>
{{ instance.history_display6 }}<br/>
{{ instance.history_display7 }}<br/>
{{ instance.history_display8 }}<br/>
{{ instance.history_display9 }}<br/>
{{ instance.history_display10 }}<br/>
{{ instance.history_display11 }}<br/>
{{ instance.history_display12 }}<br/>
{{ instance.history_display13 }}<br/>
{{ instance.history_display14 }}<br/>
{{ instance.history_display15 }}<br/>
{{ instance.history_display16 }}<br/>
{{ instance.history_display17 }}<br/>
{{ instance.history_display18 }}<br/>
{{ instance.history_display19 }}<br/>
{{ instance.history_display20 }}<br/>
{{ instance.history_display21 }}<br/>
{{ instance.history_display22 }}<br/>
{{ instance.history_display23 }}<br/>
{{ instance.history_display24 }}<br/>
{{ instance.history_display25 }}<br/>
{{ instance.history_display26 }}<br/>
{{ instance.history_display27 }}<br/>
{{ instance.history_display28 }}<br/>
{{ instance.history_display29 }}<br/>
{{ instance.history_display30 }}<br/>

<form>
    <button formaction="{% url 'posts:create' %}">Selenium</button>
</form>

<form>
    <button formaction="{% url 'posts:coup3' %}">you got a ticket, bro, coup3</button>
</form>

{% endblock content %}